p {
    color: green;
    font-size: 20px;
    text-align: center;
}
h1 {
  color: darkgreen;
  text-align: center;
}
body {
  background-color: #E0FFFF;
  white-space: normal;
}
img {
    display: block;
    margin: auto;
}

iframe {
	margin-left: 0;
}
